In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1 = np.array([1, None, 3, 4])
vals1

array([1, None, 3, 4], dtype=object)

In [3]:
for dtype in ['object', 'int']:
    print(f'dtype={dtype}')
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype=object
66.6 ms ± 2.07 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype=int
501 μs ± 13.6 μs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [4]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [5]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

In [6]:
1 + np.nan

nan

In [7]:
0 * np.nan

nan

In [8]:
vals2.sum()

np.float64(nan)

In [9]:
vals2.max()

np.float64(nan)

In [10]:
vals2.min()

np.float64(nan)

In [11]:
np.nansum(vals2)

np.float64(8.0)

In [12]:
np.nanmin(vals2)

np.float64(1.0)

In [13]:
np.nanmax(vals2)

np.float64(4.0)

In [14]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

In [15]:
x = pd.Series(range(2), dtype=int)
x

0    0
1    1
dtype: int64

In [16]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

In [17]:
data = pd.Series([1, np.nan, 'hello', None])
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

In [18]:
data.notnull()

0     True
1    False
2     True
3    False
dtype: bool

In [19]:
data[data.notnull()]

0        1
2    hello
dtype: object

In [20]:
data.dropna()

0        1
2    hello
dtype: object

In [21]:
df = pd.DataFrame([[1, np.nan, 2],
                  [2, 3, 5],
                   [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [22]:
df.dropna()

     0    1  2
1  2.0  3.0  5

In [24]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

In [25]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [26]:
df.dropna(axis='columns', how='all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

In [28]:
df.dropna(axis='rows', thresh=3)

     0    1  2   3
1  2.0  3.0  5 NaN

In [29]:
data = pd.Series([1, np.nan, 2, None, 3], index=list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

In [30]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64