In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.Series([0.25, 0.5, 0.75, 1.0])

In [3]:
data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [4]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [5]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [6]:
data[1]

np.float64(0.5)

In [7]:
data[1:3]

1    0.50
2    0.75
dtype: float64

In [8]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=['a', 'b', 'c', 'd'])
data

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

In [9]:
data['b']

np.float64(0.5)

In [10]:
data = pd.Series([0.25, 0.5, 0.75, 1.0],
                index=[2, 5, 3, 7])
data

2    0.25
5    0.50
3    0.75
7    1.00
dtype: float64

In [11]:
data[5]

np.float64(0.5)

In [12]:
population_dict = {'California': 38332521,
                  'Texas': 26448913,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois': 12882135}
population = pd.Series(population_dict)
population

California    38332521
Texas         26448913
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

In [13]:
population['California']

np.int64(38332521)

In [15]:
population['California':'New York']

California    38332521
Texas         26448913
New York      19651127
dtype: int64

In [16]:
pd.Series([2, 4, 6])

0    2
1    4
2    6
dtype: int64

In [17]:
pd.Series(5, index=[100, 200, 300])

100    5
200    5
300    5
dtype: int64

In [18]:
pd.Series({2:'a', 1:'b', 3:'c'})

2    a
1    b
3    c
dtype: object

In [19]:
pd.Series({2:'a', 1:'b', 3:'c'}, index=[3, 2])

3    c
2    a
dtype: object

In [20]:
area_dict = {'California': 423967, 'Texas': 695662, 'New York': 141297,
            'Florida': 170312, 'Illinois': 149995}
area = pd.Series(area_dict)
area

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [21]:
states = pd.DataFrame({'population': population,
                      'area': area})
states

            population    area
California    38332521  423967
Texas         26448913  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [22]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [23]:
states.columns

Index(['population', 'area'], dtype='object')

In [24]:
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [25]:
pd.DataFrame(population, columns=['population'])

            population
California    38332521
Texas         26448913
New York      19651127
Florida       19552860
Illinois      12882135

In [26]:
data = [{'a': i, 'b': 2 * i}
       for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  0
1  1  2
2  2  4

In [27]:
pd.DataFrame([{'a': 1, 'b': 2}, {'b': 3, 'c': 4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [28]:
pd.DataFrame({'population': population,
             'area': area})

            population    area
California    38332521  423967
Texas         26448913  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [29]:
pd.DataFrame(np.random.rand(3, 2),
            columns=['foo', 'bar'],
            index=['a', 'b', 'c'])

        foo       bar
a  0.066925  0.049003
b  0.468519  0.988477
c  0.094383  0.792305

In [30]:
A = np.zeros(3, dtype=[('A', 'i8'), ('B', 'f8')])
A

array([(0, 0.), (0, 0.), (0, 0.)], dtype=[('A', '<i8'), ('B', '<f8')])

In [31]:
pd.DataFrame(A)

   A    B
0  0  0.0
1  0  0.0
2  0  0.0

In [32]:
ind = pd.Index([2, 3, 5, 7, 11])
ind

Index([2, 3, 5, 7, 11], dtype='int64')

In [33]:
ind[1]

np.int64(3)

In [34]:
ind[::2]

Index([2, 5, 11], dtype='int64')

In [35]:
print(ind.size, ind.shape, ind.ndim, ind.dtype)

5 (5,) 1 int64

In [36]:
ind[1] = 0

TypeError: Index does not support mutable operations

In [49]:
indA = pd.Index([1, 3, 5, 7, 9])
indB = pd.Index([2, 3, 5, 7, 11])

In [50]:
indA

Index([1, 3, 5, 7, 9], dtype='int64')

In [51]:
indB

Index([2, 3, 5, 7, 11], dtype='int64')

In [53]:
indA.intersection(indB)

Index([3, 5, 7], dtype='int64')

In [54]:
indA.union(indB)

Index([1, 2, 3, 5, 7, 9, 11], dtype='int64')